@charset "utf-8";

#nav #nav_about{
    width: 170px;
    content: url(../img/nav/about1.png);
    background: #3661a1;
    box-shadow: 0 0 8px 0 #3661a1;
}

#culture{
    width: 1200px;
    margin: 0 auto;
}
#culture #culture_title{
    display: block;
    margin: 83px auto 54px;
}
#culture #culture_info{
    width: 1200px;
    margin: 54px auto 0;
}
#culture #culture_info p{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #333333;
    margin: 0 auto;
}
#culture #culture_info p:nth-child(5)~p{
    font-size: 14px;
}
#culture #culture_info p:nth-child(4){
    margin-top: 30px;
}
#culture #culture_info p:nth-child(6){
    margin-top: 88px;
}
#culture #culture_info p:nth-last-child(4){
    margin-top: 30px;
}
#waist{
    width: 100%;
    min-width: 1330px;
    margin-top: 90px;
}
#team{
    display: flex;
    flex-flow: column nowrap;
    width: 1200px;
    margin: 0 auto;
}
#team #team_title{
    display: block;
    margin: 179px auto 51px;
}

#member1 .member_info{
    float: left;
}
#member1 .member_pic{
    float: left;
}
#team_member .member_pic{
    display: block;
    width: 574px;
    height: 500px;
}
#team_member .member_info{
    display: block;
    width: 445px;
}
#team_member .post,
#team_member .name_eng,
#team_member .intro{
    color: #333333;
    font-size: 20px;
}
#team_member .post{
    display: block;
}
#team_member .name{
    font-size: 30px;
    color: #3661a1;
}
#team_member .name_eng{
    margin-left: 10px;
}
#member1 .member_pic,
#member3 .member_pic{
    float: left;
}
#member1 .member_info,
#member3 .member_info{
    float: left;
    margin-left: 116px;
}
#member1 .post,
#member3 .post{
    margin-bottom: 5px;
    margin-top: 90px;
    width: 70px;
    height: 18px;
    line-height: 20px;
    border-right: 2px solid #333333;
}
#member1 .intro,
#member3 .intro{
    margin-top: 80px;
}
#member2,#member3,#member4{
    margin-top: 150px;
}

#member2 .member_info,
#member4 .member_info{
    position: relative;
    float: right;
    margin-right: 116px;
}
#member2 .member_pic,
#member4 .member_pic{
    float: right;
}

#member2 .post,
#member4 .post{
    position: absolute;
    width: 60px;
    height: 18px;
    line-height: 20px;
    text-align: right;
    padding-left: 10px;
    border-left: 2px solid #333333;
    top: 90px;
    right: 0;
}
#member2 .name,
#member4 .name{
    position: absolute;
    top: 113px;
    right: 0;
}
#member2 .name_eng,
#member4 .name_eng{
    position: absolute;
    top: 124px;
    right: 75px;
}
#member2 .intro,
#member4 .intro{
    position: absolute;
    top: 225px;
}

#team_member{
    margin-bottom: 258px;
}