@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    font-family: "思源黑体 CN Regular";
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    min-width: 1238px;
}

.clear_float {
    clear: both;
}

footer #footer_back {
    background: #3562a0;
    height: 755px;
    min-width: 1200px;
    margin-top: 95px;
    margin: 0 auto ;
}

footer #footer_nav {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin: 133px auto 0;
}

footer #footer_nav a {
    display: block;
    width: 125px;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
footer #footer_nav a:not(:nth-child(4)) {
    border-right: 1px solid #fff;
}

footer #footer_center{
    display: flex;
    justify-content: space-between;
    margin: 103px auto 0;
    width: 1020px;
}
footer #footer_left {
    margin-top: 15px;
}

#footer_left .footer_about span,
#footer_left .footer_contact span {
    display: block;
    font-size: 20px;
    color: #fff;
}

#footer_left .footer_about a{
    display: block;
    font-size: 18px;
    color: #fff;
}

#footer_left .footer_about:not(:nth-last-child(1)){
    float: left;
    margin-right: 70px;
}

#footer_left .footer_about span {
    margin-bottom: 35px;
}

#footer_left .footer_about a {
    color: #fff;
}

#footer_left .footer_contact {
    margin-top: 72px;
}

#footer_left .footer_contact span:nth-child(2){
    margin-top: 10px;
}


footer #footer_right #weibo{
    float: left;
    margin-right: 80px;
}
footer #footer_right #wechat {
    float: left;
}

footer #footer_right img {
    height: 180px;
    widows: 180px;
    border: 6px solid #fff;
}

footer #footer_right span {
    display: block;
    font-size: 20px;
    color: #fff;
    width: 180;
    text-align: center;
    margin-top: 38px;
}

footer hr{
    width: 1200px;
    margin: 40px auto 0;
}

footer #copyright {
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

footer #copyright p {
    display: block;
    font-size: 20px;
    color: #fff;
    margin-top: 60px;
}