@charset "utf-8";

#nav #nav_special{
    width: 170px;
    content: url(../img/nav/special1.png);
    background: #3661a1;
    box-shadow: 0 0 8px 0 #3661a1;
}

#activity {
    width: 1200px;
    margin: 0 auto;
}

#activity #activity_title{
    position: relative;
    width: 261px;
    height: 95px;
    margin: 83px auto 97px;
}

#activity #activity_title img,
#news #news_title img {
    width: 261px;
    height: 94px;
    border: 1px solid rgba(90, 90, 90, 0.5);
}

#activity .block,
#news .block {
    position: absolute;
    width: 114px;
    height: 4px;
    background: #fff;
    left: 74.5px;
    top: 92px;
}

#activity .clear_float,
#news .clear_float {
    clear: both;
    height: 254px;
}

#activity #activity_content{
    position: relative;
}
#activity #activity_msg {
    position: absolute;
    width: 584px;
    height: 402px;
    top: 55px;
    right: 0;
    border: 1px solid rgba(90, 90, 90, 0.5);
    background: #eeeeee;
    padding: 75px 0 0 85px;
    box-sizing: border-box;
}

#activity #activity_msg p {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333333;
}

#activity #activity_msg>span {
    display: block;
    height: 26px;
    color: #3661a1;
    font-size: 12px;
    line-height: 18px;
    margin-left: 2px;
}

#activity #activity_msg>div {
    margin-top: 16px;
}

#activity #activity_msg .circle,
#activity #activity_msg .multi {
    display: block;
    float: left;
    font-size: 24px;
    color: rgba(26, 26, 26, 0.8);
    text-align: center;
    padding: 2px;
}

#activity #activity_msg .circle {
    border: 1px solid rgba(90, 90, 90, 0.6);
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

#activity #apply {
    display: block;
    width: 200px;
    height: 20px;
    line-height: 20px;
}

#activity #apply>a,
#activity #apply>span {
    display: block;
    float: left;
    color: #fff;
    padding: 4px 10px;
    margin-top: 14px;
}

#activity #apply>a {
    font-size: 12px;
    background: #3661a1;
}

#activity #apply>span {
    font-size: 16px;
    background: #2d5289;

}

#news {
    width: 1200px;
    margin: 0 auto 97px;
}
#news #news_title {
    position: relative;
    width: 261px;
    height: 95px;
    margin: 98px auto 74px;
}
#news #news_content{
    height: 471px;
}

#news_content .content {
    position: relative;
    float: left;
    width: 380px;
}

#news_content img {
    width: 380px;
    height: 280px;
    border-radius: 2px 2px 0 0 ;
}

#news_content span {
    display: block;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    height: 85px;
    line-height: 85px;
}

#news_content p {
    display: block;
    font-size: 12px;
    line-height: 28px;
}
#news_content .content .more{
    position: relative;
    height: 50px;
}

#news_content .more a {
    position: absolute;
    display: block;
    height: 50px;
    color: #3661a1;
    right: 0;
    bottom: 0;
    line-height: 50px;
}

#news_content #content2,
#news_content #content3 {
    margin-left: 30px;
}
